<html>


         <h1 class="headertext">Full Body CheckUp</h1>
         



<body>
    <div class="container">

<Section>
        
<ul class="promo-sub-text">
  
    Our full body health assessment gives you an overview of your current health and wellbeing, identifying any common health issues <br/>such as diabetes and high cholesterol.
    Using the latest health testing technology, Healthcare services doctor and health and wellbeing <br/>physiologist will guide you through a comprehensive range of tests, 
    highlighting health issues such as diabetes, high cholesterol and<br/> poor posture. If you have any particular concerns about your health, fitness
     we’ll be more than happy to talk through these with you.

</ul>
<h2 class="headers">What's included in your Full Body Health Assessment?</h2>

        <ul class="promo-sub-text ">
          
           <li>
            2 hours – with doctor and health and wellbeing physiologist
           </li> 
           <li>
            Results available on the day will be discussed face-to-face during your assessment, and a personalised written report will be sent<br/> to you within two weeks 
           </li>
            
        </ul>
        <h3 class="headers">Your Measurements
        </h3>
        <ul class="promo-sub-text ">
            
          <li>
            Height and weight measurements
          </li>
          <li>
            Waist circumference
          </li> 
            <li>
                Body mass index (BMI)
            </li>
            <li>
                Body fat percentage
            </li>
       
      
        </ul>
        <h3 class="headers">Core pathology
        </h3> 

        <ul class="promo-sub-text ">
           
           <li>
            Urine analysis
           </li> 
           <li>
            Cholesterol test
           </li>
           <li>
            Full blood count
           </li>
           <li>
            Full biochemistry profile including liver and kidney function
           </li>
           <li>
       
            Blood glucose test for diabetes
           </li>
        </ul>
        <h3 class="headers">Heart and lungs
        </h3> 
        <ul class="promo-sub-text ">
           
        
           <li>
            Blood pressure
           </li> 
           <li>
            Resting ECG
           </li>
           <li>
            Cardiovascular risk score
           </li>
           <li>

            Chest X-Ray (if clinically indicated)
           </li>
        
        </ul>
        <h3 class="headers">Unique tests
        </h3> 
        <ul class="promo-sub-text ">
 
            <li>
                Dietary analysis
            </li>
            <li>
                Functional movement assessment
            </li>
            <li>
                Measurement of physiological resilience to stressors
            </li>
            <li>
                Analysis of metabolic syndrome risk syndrome
            </li> 
        </ul>


      
        <h3 class="headers">Check blood</h3>    
<ul class="promo-sub-text">
          
   
    <li>
        In addition to testing for cholesterol and diabetes, a full blood test will look for anaemia and the ability to fight infection; kidney and liver function; <br/>calcium and protein levels; as well as thyroid (female) and prostate (male) for the over 50's.

      
    </li>
</ul>
</Section>

  <section></section>
</div>
<footer>
        <ul class="footerul">
          
                <li><a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
        <p>Call for emergency 000</p><br>

        <p>&copy;By NSW Health Care</p>
   </footer>
</body>
</html>

