


         <h1 class="headertext">Eye Health</h1>
         




    <div class="container">

<Section>
    <h2 class="headers">The importance of eye tests.</h2>  
<ul class="promo-sub-text">
 
    Did you know that over 60% of the world’s population wears glasses or contact lenses? It shows how our eyes require special care and maintenance <br/>to keep them working at their best, 
    which is why we should be getting our eyes tested frequently – because healthy eyes are happy eyes!.

</ul>
<h2 class="headers">How often should you be getting your eyes tested?</h2>
        <ul class="promo-sub-text ">
         

            <li>
                The frequency of your eye test depends on your age and overall health.
            </li> 
            <li>
                Results available on the day will be discussed face-to-face during your assessment, and a personalised written report will be sent to you <br/>
                within two weeks
            </li>
            </ul>
        
            <h3 class="headers">
                Signs you might need an eye test
            </h3>
        <ul class="promo-sub-text ">
          
            <li>
                Blurred vision
            </li> 
            <li>
                Your eyes feel drier throughout the day
            </li>
            <li>
                Difficulties with your vision at night, or adjusting to the light
            </li>
            <li>
                Eye pressure
            </li>
            <li>
                Headaches
            </li>
            <li>
                Noticeable eye fatigue or eye strain
            </li>
          
            </ul>
            <h3 class="headers">Why are eye tests so important?
            </h3> 
        <ul class="promo-sub-text ">
           

            <li>
                Several conditions that can be spotted when having a sight test include diabetes, glaucoma, macular degeneration, <br/> high blood pressure, brain tumours (in rare cases).
                multiple sclerosis and high cholesterol.
            </li> 
         
    
        </ul>
        <h3 class="headers">How often should you be getting your eyes tested?<br>
        </h3> 
        <ul class="promo-sub-text ">
            
        
          <li>
            People aged 16-69 - at least once every two years
          </li>
          <li>
            Over 70s - once a year. This is to monitor age-related eye conditions.
          </li>
         <li>
            People with diabetes or glaucoma - at least once a year
         </li>
         <li>
            Over 40s who are a close blood relative of someone with glaucoma - at least once a year
         </li>
          
        </ul>
  


      

<ul class="promo-sub-text">
          
<h3>Eye Treatment</h3>
           <li>
            Once you have your eye test* and have been handed your latest prescription, you can get to work on finding the perfect pair of glasses –  <br/>this is where we can help! 
           </li>
   
</ul>
  
  
</Section>

  <section></section>
</div>



