<div class="container">
    <h1 class="header">Your Cart</h1>
  
    <div class="empty-cart" *ngIf="cartItems.length === 0">
      You have no items in your cart
    </div>
    <div >
      <ul class="cart" *ngIf="cartItems.length > 0">
        <li class="cart-item" *ngFor="let product of cartItems">
          <div class="product row">
            <div class="product-details col-md-3">
              <img [src]="getImageUrl(product)" [alt]="product.description" />
            </div>
              <div class="product-info col-md-6">
                <div class="name">{{ product.name }}</div>
                <div></div>
                <div class="description">{{ product.description }}</div>
        
              </div>
        
            <div class="price col-md-3">
              <div [ngClass]="{ strikethrough: product.discount > 0 }">
                {{ product.cost | currency : "AUD" }}
              </div>
          
              <div *ngIf="product.discount > 0" class="discount">
                {{ product.cost * (1 - product.discount) | currency : "AUD" }}
              </div>
              <button (click)="removeFromCart(product)">Remove</button>
            
            </div>
          </div>
      
        </li>
      </ul>
    </div>
   
    <div class="total">Total: {{ cartTotal | currency }}</div>
    <button *ngIf="cartItems.length > 0 &&  this.userlog" (click)="checkout(cartItems)" class="checkout">CheckOut</button>
    <button *ngIf="cartItems.length > 0 &&  !this.userlog" (click)="openpopup()"class="checkoutguest">CheckOut As Guest   </button>
    <span class="rout" (click)="signinrout()" *ngIf="cartItems.length > 0 &&  !this.userlog">Have an account ? 
      <a>Sign-in</a></span>
    <div class="over-lay" *ngIf="this.show">
      
        <!-- <form class="form" #myform="ngForm" (ngSubmit)="Signin(cartItems)">
          <img class="logo" src="/assets/Images/logo.png" />
          <div class="sign-in">SIGN IN AS GUEST</div>

          <input name="email" required  email  #email="ngModel" [(ngModel)]="credentials.email" placeholder="Email" type="text" />
          <em class="error" *ngIf="email.errors?.['required'] && email.touched">
            Email is required
          </em>
          <em class="error" *ngIf="email.errors?.['email'] && email.touched">
           Must be a valid Email
          </em>
          <input name="name"  required #name="ngModel" [(ngModel)]="credentials.name" placeholder="Name" type="text" />
          <input name="password"  required #password="ngModel" [(ngModel)]="credentials.password" placeholder="Password" type="password" />
          <em class="error" *ngIf="password.invalid && password.touched">
            Password is required
          </em>
          <div class="buttons">
            <button type="submit" class="button cta btnsigin" [disabled]="myform.form.invalid">
              Sign In
            </button>
            <button type="submit" class="button cta btnsigin" (click)="cancel()">
            Cancel
            </button>
          </div>
        
        </form> -->
        <div class="container"> 
        <section>
          <div class="container py-5 "  >
            <form class="form"  #myform="ngForm" (ngSubmit)="Signin(cartItems)">
            <div class="row d-flex justify-content-center align-items-center ">
              <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card  " style="border-radius: 1rem;">
                  <div class="card-body p-5 text-center">
        
                    <div class="mb-md-5 mt-md-4 pb-5">
        
                      <h2 class="fw-bold mb-4 text-uppercase headertxt">SIGN IN AS GUEST</h2>
                  
        
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <label class="form-label field" for="typeEmailX">Email</label>
                        <input name="email" required  email  #email="ngModel" [(ngModel)]="credentials.email" placeholder="Email" type="text" class="form-control form-control-lg" />
                        <em class="error" *ngIf="email.errors?.['required'] && email.touched">
                          Email is required
                        </em>
                        <em class="error" *ngIf="email.errors?.['email'] && email.touched">
                         Must be a valid Email
                        </em>
                    
                      </div>
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <label class="form-label field" for="typeNameX">Name</label>
                        <input name="name"  required #name="ngModel" [(ngModel)]="credentials.name" placeholder="Name" type="text" class="form-control form-control-lg" />
                      
                    
                      </div>
        
                      <div data-mdb-input-init class="form-outline form-white mb-4 ">
                        <label class="form-label field" for="typePasswordX">Password</label>
                        <input name="password"  required #password="ngModel" [(ngModel)]="credentials.password" placeholder="Password" type="password" class="form-control form-control-lg" />
                        <em class="error" *ngIf="password.invalid && password.touched">
                          Password is required
                        </em>
                      
                      </div>
        
              
        
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5 btnsigin" [disabled]="myform.form.invalid" type="submit">Sign In</button>
                      
                <button  data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5 btnsigin" (click)="cancel()">Cancel</button>
        
                   
        
                    </div>
        
                    <div>
                      <p class="mb-0 field">Don't have an account? <a href="#!" class="fw-bold field"  routerLinkActive="active" [routerLink]="['/users/sign-in/register']" >Sign Up</a>
                      </p>
                    </div>
        
                  </div>
                </div>
              </div>
            </div>
            </form>
          </div>
        </section>
    </div>
  </div>
    </div>


 



