


         <h1 class="headertext">Cancer Screening</h1>
         




    <div class="container">

<Section>
    <div class="row">

   
   <div class="col-md-12">

 
<ul class="promo-sub-text">
    Our health care services offer Cancer screening involves testing apparently healthy people for signs of the disease.<br/>
    
    It can save lives by finding cancers at an early stage, or even preventing them. Screening is not the same as the tests a <br>person may have when doctors are diagnosing or treating cancer.

</ul>

</div>
</div>
<h2 class="headers">What's included in your Cancer Screening?</h2>
        <ul class="promo-sub-text ">
          
         <li>
            3 screening programmes
         </li>
         <li>
            Results available on the day will be discussed face-to-face during your assessment, and a personalised written report will be sent to you <br/>
            within two weeks 
         </li>  
             
        </ul>
        <ul class="promo-sub-text ">
            <h3>Bowel cancer screening
            </h3>
            <li>
                Bowel screening aims to find cancer early or to find changes in your bowel that could lead to cancer.
            </li>
            <li>
                The screening programmes send a bowel cancer testing kit every 2 years to people who can take part
            </li>
            <li>
                The test is called FIT - Faecal Immunochemical Test. It looks for tiny traces of blood
            </li>
            <li>
                Be reliable at picking up cancers or abnormalities that could lead to cancer
            </li>
        
          
        </ul>
        <h3 class="headers">Breast screening
        </h3> 
        <ul class="promo-sub-text ">
           

           <li>
            To have screening you have an x-ray of your breast called a mammogram.
           </li>
           <li>
            Breast screening is for women between the ages of 50 and 70, it is also for some trans or non-binary people
           </li>
           <li>
            Taking a sample of tissue from your breast called a biopsy
           </li>
           <li>
            It is important to remember that screening will not prevent you from getting breast cancer but aims to find early breast cancers.
           </li>
           <li>
            You should get a letter with your results within 2 to 3 weeks. This will tell you what you need to do next
           </li>
    
        </ul>
        <h3 class="headers"> Cervical screening
        </h3> 
        <ul class="promo-sub-text ">
        
        
            <li>
                The cervical screening test aims to pick up changes early that could develop into cervical cancer if left untreated
            </li>
            <li>
                Cervical screening is also for anyone in this age range with a cervix, such as trans men and non-binary people assigned female at birth.
        
            </li>
           
        </ul>
  


      
        <h3 class="headers">Cancer Treatment</h3>    

<ul class="promo-sub-text">
    
    <li>
        Cancer treatments include surgery, radiotherapy and drug treatments such as chemotherapy, hormone therapy or targeted cancer drugs.
    </li>
</ul>
  
  
</Section>

  <section></section>
</div>



