
.card{
  background-color: lavenderblush;
  color: #000;
}
.field{
font-size: 1rem;
}
.btnsigin{
  background-color:#d25ca1  ;
  color: #fff;
}
em.error {
  padding: 2px 5px;
  color: red;
  font-style: normal;
}
input.error {
  border: 1px solid #d25ca1;
}
.headertxt{
  color: #d25ca1;
}
input::placeholder {
  font-size: 1rem;
}
.container{
  margin-bottom:80px;
}
 