

       

    
      <!-- <div class="promoted"> -->
        <!-- <h1 class="welcometxt">Welcome to Health Care Services</h1>
       
        <p class="promo-welcome ">
      
Medical services provide comprehensive healthcare, including diagnosis, treatment, and preventive care, delivered by trained professionals in various settings, ensuring optimal health for individuals and communities.
Accessible and quality medical services are essential for promoting well-being and improving overall quality of life.
        
        
                </p>
        <div class="promo-text">
          <button class="buttonn cta" [routerLink]="['/catalog','']">Book Your Tests Now</button>
   
        </div> -->
        
<div class="jumbotron text-center">
  <h1 class="welcometxt">Welcome to Health Care Services</h1> 
  <p class="promo-welcome ">Medical services provide comprehensive healthcare, including diagnosis, treatment, and preventive care, delivered by trained professionals in various settings, ensuring optimal health for individuals and communities.
    Accessible and quality medical services are essential for promoting well-being and improving overall quality of life.
            </p> 
            <button class="buttonn cta" [routerLink]="['/catalog','']">Book Your Tests Now</button>
</div>
   
      <!-- </div> -->
<!--     
      <ul class="healthchecks">
        <li>
          <a routerLink="/catalog/Full Body Check Up" class="part">
            <img src="/assets/Images/asthma.png" alt="bodycheckup" title="Book for Full Body checkup" />
            <div><u> Body Checkup</u></div>
          </a>
        </li>
        <li>
          <a routerLink="/catalog/Cancer Screening" class="part">
            <img src="/assets/Images/allergic.png" alt="cancerscreening" title="Book for Cancer Screening" />
            <div><u>Cancer Screening</u></div>
          </a>
        </li>
        <li>
          <a routerLink="/catalog/Eye Test"  class="part">
            <img src="/assets/Images/bite.png" alt="eyetest" title="Book for Eye Test" />
            <div><u>Eye Test</u></div>
          </a>
        </li>
        <li>
          <a routerLink="/catalog/ECG Test" class="part">
            <img src="/assets/Images/heart.png" alt="ecgtest" title="Book for ECG Test" />
            <div><u>ECG Test</u></div>
          </a>
        </li>
      </ul> -->

    <!-- <ul class="healthchecks">
      
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Body Checkup</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/Images/asthma.png" alt="body checkup">
        <mat-card-content>
          <p>
           
Our healthcare facility offers comprehensive full body checkups, ensuring thorough evaluations and 
early detection of potential health issues
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/fullcheckup">Read More</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Cancer Screening</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/Images/allergic.png" alt="Cancer Screening">
        <mat-card-content>
          <p>
           
            Our cancer screening facility offers early detection services, providing peace of mind and proactive measures for better health outcomes.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/cancerscreening">Read More</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Eye Health</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/Images/bite.png" alt="Eye Test">
        <mat-card-content>
          <p>
      
Our healthcare facility offers comprehensive eye tests to ensure optimal vision and overall ocular health for all our patients.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/eyehealth">Read More</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>ECG</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/Images/heart.png" alt="ECG">
        <mat-card-content>
          <p>
           

            Our healthcare facility offers state-of-the-art ECG services, ensuring accurate cardiac assessments and timely interventions for optimal patient care.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/ecg">Read More</button>
        </mat-card-actions>
      </mat-card>
    </ul> -->
    <!-- <div class="card-container">
   
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Body Checkup</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/Images/asthma.png" alt="body checkup">
          <mat-card-content>
            <p>
             
  Our healthcare facility offers comprehensive full body checkups, ensuring thorough evaluations and 
  early detection of potential health issues
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button routerLink="/fullcheckup">Read More</button>
          </mat-card-actions>
        </mat-card>
    
        <mat-card class="example-card ">
          <mat-card-header>
            <mat-card-title>Cancer Screening</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/Images/allergic.png" alt="Cancer Screening">
          <mat-card-content>
            <p>
             
              Our cancer screening facility offers early detection services, providing peace of mind and proactive measures for better health outcomes.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button routerLink="/cancerscreening">Read More</button>
          </mat-card-actions>
        </mat-card>

   
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Eye Health</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/Images/bite.png" alt="Eye Test">
          <mat-card-content>
            <p>
        
  Our healthcare facility offers comprehensive eye tests to ensure optimal vision and overall ocular health for all our patients.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button routerLink="/eyehealth">Read More</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>ECG</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/Images/heart.png" alt="ECG">
          <mat-card-content>
            <p>
             
  
              Our healthcare facility offers state-of-the-art ECG services, ensuring accurate cardiac assessments and timely interventions for optimal patient care.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button routerLink="/ecg">Read More</button>
          </mat-card-actions>
        </mat-card>

  </div> -->
      <!-- <div class="white-paper">
        <img src="/assets/Images/cpr.png" alt="FirstAid Basics" routerLink="/firstaid" title="Learn Firstaid basics" />
        <div class="text">
          <div>
            <div class="header-text cta">Firstaid Basics</div>
            <div class="sub-text">
              <p>Department of Health</p>
              <p>Saving Lives</p>
            </div>
          </div>
          <div class="large-text">NSW</div>
          <a href="" class="learn-more" routerLink="/firstaid">Learn More</a>
        </div>
      </div> -->
  


      <!-- <footer>
        <ul  class="footerul">
          
                <li><a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
        <p>Call for emergency 000</p><br>
    
        <p>&copy;By NSW Health Care</p>
    </footer> -->
    <div class="card-container">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Body Checkup</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/Images/asthma.png" alt="body checkup">
        <mat-card-content>
          <p>
           
Our healthcare facility offers comprehensive full body checkups, ensuring thorough evaluations and 
early detection of potential health issues
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/fullcheckup">Read More</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Cancer Screening</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/Images/allergic.png" alt="Cancer Screening">
        <mat-card-content>
          <p>
           
            Our cancer screening facility offers early detection services, providing peace of mind and proactive measures for better health outcomes.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/cancerscreening">Read More</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Eye Health</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/Images/bite.png" alt="Eye Test">
        <mat-card-content>
          <p>
      
Our healthcare facility offers comprehensive eye tests to ensure optimal vision and overall ocular health for all our patients.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/eyehealth">Read More</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>ECG</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/Images/heart.png" alt="ECG">
        <mat-card-content>
          <p>
           

            Our healthcare facility offers state-of-the-art ECG services, ensuring accurate cardiac assessments and timely interventions for optimal patient care.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/ecg">Read More</button>
        </mat-card-actions>
      </mat-card>

    </div>
   
 

  
